[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt = "*"
flask-script = "*"
flask-bcrypt = "*"
flask-ext = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
